APP_ENV=testing
APP_DEBUG=false
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=alamal_medical_center_testing
DB_USERNAME=root
DB_PASSWORD=

BCRYPT_ROUNDS=4
CACHE_STORE=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
